*{margin:0;padding:0;}
.header{text-align:center;font-family:'Archivo Black',sans-serif;font-size:36px;;
        background-color:white;width:100%;height:70px;}
.body{background-color:lightgray;text-align:center;}
.card{display:inline-block;width:750px;margin-top:40px;background:white;border-radius:5px;}
#img-resizer{width:100%;height:100%;}
h1{float:left;padding:12px;font-family:'Archivo Black',sans-serif;font-size:20px;}
h2{color:grey;float:right;padding:12px;font-family:'Nunito',sans-serif;font-size:20px;}
p{text-align:left;font-family:'Nunito',sans-serif;padding:12px;}